<footer class="footer mt-auto py-3 bg-light fixed-bottom">
  <div class="container">
    <p>Exercise <a href="https://github.com/BC-MAR-21-ROR/kata-07-rejoj-checador-equipo-04-k07" class="">Kata 07 Reloj checador</a>, for <a href="http://www.brightcoders.com/" class="">BrightCoders</a>.</p>
  </div>
</footer>
